<div>
  <div class="ad ae af ag">
    <div class="ae af aj ak">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ae au av"></div>
      <span ng-if="cornerText !== undefined" class="ad ag am aw">
        {{ cornerText }}
      </span>
    </div>
    <div class="ad ae al am an ao ap">
      {{ title }}
    </div>
    <div class="ad ae an ao aq ar as">
      {{ subtitle }}
    </div>
  </div>
  <div class="ad ae ah ai">
    <div class="at">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>