<div>
  <div class="ac ad ae af ag">
    <div class="ad ae ak al">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ad av aw"></div>
      <span ng-if="cornerText !== undefined" class="ac af an ax">
        {{ cornerText }}
      </span>
    </div>
    <div class="ac ad am an ao ap aq">
      {{ title }}
    </div>
    <div class="ac ad ao ap ar as at">
      {{ subtitle }}
    </div>
  </div>
  <div class="ac ad ai aj">
    <div class="au">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>