<div>
  <div class="ac aw az ba bb">
    <div class="ai aj az ba be">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ad at au ax"></div>
      <span ng-if="cornerText !== undefined" class="ac af al av">
        {{ cornerText }}
      </span>
    </div>
    <div class="ac ak al am an ay az bd bf">
      {{ mytitle }}
    </div>
    <div class="ac an ap aq az bd bf bg">
      {{ subtitle }}
    </div>
  </div>
  <div class="ac ag az bb bc bd">
    <div class="as">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>