<div>
  <div class="ad ax ay az ba">
    <div class="aj ak ax ay bd">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ae au av"></div>
      <span ng-if="cornerText !== undefined" class="ad ag am aw">
        {{ cornerText }}
      </span>
    </div>
    <div class="ad al am an ao ax bc be bf">
      {{ title }}
    </div>
    <div class="ad ao aq ar ax bc bf bg">
      {{ subtitle }}
    </div>
  </div>
  <div class="ad ah ax ba bb bc">
    <div class="at">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>