<div>
  <div class="ac ad ae af">
    <div class="ad ae aj ak">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ad au av"></div>
      <span ng-if="cornerText !== undefined" class="ac af am aw">
        {{ cornerText }}
      </span>
    </div>
    <div class="ac ad al am an ao ap">
      {{ mytitle | uppercase }}
    </div>
    <div class="ac ad an ao aq ar as">
      {{ subtitle | uppercase }}
    </div>
  </div>
  <div class="ac ad ag ah ai">
    <div class="at">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>