<div>
  <div class="ac ag ay az ba bb">
    <div class="ak al ay az be">
      <div ng-style="{backgroundImage : 'url(' + img + ')'}" class="ad ah av aw"></div>
      <span ng-if="cornerText !== undefined" class="ac af an ax">
        {{ cornerText }}
      </span>
    </div>
    <div class="ac am an ao ap ay bd bf bg">
      {{ title }}
    </div>
    <div class="ac ap ar as ay bd bg bh">
      {{ subtitle }}
    </div>
  </div>
  <div class="ac ai ay bb bc bd">
    <div class="au">
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>